.meals-container{
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.meals{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
}


.order-summary{
    background-color: bisque;
    padding: 30px;
    position: sticky;
    top: 0;
}

@media screen and (max-width:688px) {
    .meals-container{
        display: flex;
        flex-direction: column;
    }
   .meals{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       width: 90%;
       margin:0 auto;
   }
  
   
}

@media only screen and (min-width:688px) and (max-width:992px){
    .meals-container{
        display: flex;
        flex-direction: column;
    }
    .meals{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

