.header{
    background-color: blueviolet;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    /* margin: auto; */
    font-size: 20px;
    
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar-container a{
    margin-left: 20px;
}



@media screen and (max-width:688px){
    .navbar .logo{
        margin: auto;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
    .navbar-container{
        display: none;
    }
    
}

@media only screen and (min-width:688px) and (max-width:992px){
    .header{
        width: 100%;
    }
}